html, body, #root {
    margin: 0;
    height: 100%;
}

#root {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 6fr 4fr;
}

.header-wrapper {
    grid-column: 1/4;
    text-align: center;
    margin: 1rem 1rem;
}

h5 {
    font-size: 1rem;
}

.wrapper {
    width: 10rem;
    margin: auto;
    grid-column: 1/4;
    grid-row: 2;
}