body {
    background-color: #fcf6f1;
}

.recc-container {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

nav {
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.add-recc {
    width: 18rem;
}
.add-recc form button{
    display: block;
}

.add-recc form * {
    margin: .15rem;
    display: flex;
    justify-content: center;
}

.add-recc form div {
    display: flex;
    justify-content: space-between;
}

.add-recc form div label {
    font-weight: 500;
}

.add-recc h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.card {
    margin: .5rem;
}

.btn {
    border: none;
    background-color: 
    #f07a05;

}

.add-recc .btn {
    background-color: #7ac0f7;
}

.delete {
    display: flex;
    justify-content: center;
}